<div class="container">
    <h3 class="mb-3">Deleting expense #{{id}}</h3>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary" onclick="redirectToPage('/expenses/all-expenses')">Cancel</button>
    </div>
    <div>
        <form action="/expenses/delete-expense/{{id}}" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-primary" onclick="deleteExpense()">Delete</button>
        </form>
    </div>
</div>

</div>
<script>
    function redirectToPage(page) {
        window.location.href = page;
    }
</script>