<div class="container">
    <h1 class="text-center mb-5">Hello {{user.fullName}}</h1>
    <p class="text-center">Welcome to ExpenseWise, your all-in-one solution for effortless financial expense management.
        With ExpenseWise,
        you can take control of your finances like never before, empowering you to make smarter spending decisions and
        achieve your financial goals with ease.

    </p>
    <p class="text-center">
        Built using cutting-edge technologies such as Node.js and MongoDB, ExpenseWise offers a seamless and intuitive
        user experience, ensuring that managing your expenses is not only efficient but also enjoyable.
    </p>
</div>