<div class="container">
    {{#if successMessage}}
    <div class="alert alert-success" role="alert">
        {{successMessage}}
    </div>
    {{/if}}
    <h1 class="text-center mb-5">Hello {{user.fullName}}</h1>
    <p class="text-center mb-3">
        Welcome to KononWallet: Your Ultimate Expense Tracking Companion. Step into a world of financial freedom with KononWallet, your go-to tool for effortless expense management. Take the reins of your finances like a pro, making every dollar count towards your goals.
    </p>
    <p class="text-center mb-3">
        Crafted with the latest tech wonders like Node.js and MongoDB, KononWallet delivers more than just expense tracking – it's a lifestyle upgrade. Dive into a seamless user experience that not only streamlines your financial tasks but also makes them surprisingly enjoyable.
    </p>
    <p class="text-center mb-5">
        Join the KononWallet revolution and redefine your relationship with money. Say hello to stress-free budgeting and hello to a brighter financial future. Get started today and unlock the power of financial empowerment!"
    </p>
</div>
<div style="width: 100%; overflow: hidden; " class="mb-3">
  <div style="width: 33.33%; float: left; text-align: center;">
    <p>Unlock your potential and grow wealth!</p>
    <img src="https://img.freepik.com/free-vector/finance-concept-illustration_114360-801.jpg?t=st=1714418034~exp=1714421634~hmac=7e39b1bb502cd5edf7f40103e440509ca9c9ad1757fd8864400500d8963c2e30&w=1800" alt="Graphic 1" style="max-width: 100%;">
  </div>
  <div style="width: 33.33%; float: left; text-align: center;" class="mb-3">
    <p class="text-center">Keep Your business stress free!</p>
    <img src="https://img.freepik.com/free-vector/online-banking-concept-illustration_114360-17345.jpg?t=st=1714418827~exp=1714422427~hmac=388519e45a20231c6768d180d809bbfbd17c4a1b0af9c32d849711c30d373fd9&w=1800" alt="Graphic 3" style="max-width: 100%;">
  </div>
  <div style="width: 33.33%; float: left; text-align: center;" class="mb-3">
    <p class="text-center">Join KononWallet and start today!</p>
    <img src="https://img.freepik.com/free-vector/dashboard-concept-illustration_114360-1543.jpg?t=st=1714418599~exp=1714422199~hmac=73e0e6e2a18f9b937fc61dfb3a5ce9452b1cdab14f7f2185b6fbe4a6e97b2163&w=1800" alt="Graphic 2" style="max-width: 100%;">
  </div>
