<div class="container">
    <h3 class="mb-3">New password</h3>
    <form action="/auth/new-password" method="POST">
        {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        {{/if}}
        <div class="mb-3">
            <label for="password" class="form-label">New password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm new password</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
        </div>
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="token" value="{{token}}">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>